@import '~src/variables.scss';

$template-yellow: rgb(255,255,219);
$template-blue: rgb(183,219,255);
$template-purple: rgb(219,219,255);

div.template-view {
    margin-left: 48rem;

    h2 {
        span.definitionStatus {
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            padding-top: 2px;
            color: $white;
        }

        span.template-syntax-icon {
            cursor: pointer;
            color: $river-bed;
        }

        &.no-template {
            font-weight: 300;
            color: $grey;
        }
    }


    div.template-expressions {
        background-color: darken($white, 5%);

        div.darker {
            background-color: darken($white, 10%);
        }

        hr {
            border: none;
            background-color: $ghost-grey;
            height: 1px;
        }

        div.input-group {
            cursor: default;

            &.pt-4b {
                padding-top: 20px !important;
            }

            &.pb-4b {
                padding-bottom: 20px !important;
            }
        }

        span {
            &.w-8r {
                width: 8rem;
            }

            &.w-20r {
                width: 20rem;
            }

            &.attribute {
                background-color: $template-yellow;
            }
        }

        div.form-control, input.form-control {
            font-size: 1.2rem;
            min-height: 34px;
            line-height: 34px;
            height: unset;

            &.type, &.template {
                background-color: $bootstrap-grey;
            }

            &.blue {
                background-color: $template-blue;
            }

            &.purple {
                background-color: $template-purple;
            }
        }

        span.input-group-text {
            font-size: 1.2rem;
        }
    }
}

app-modal.template-syntax-modal {
    div.template-syntax {
        font-family: "Courier New", serif;
        letter-spacing: 0;

        div.template-syntax-container {
            border: 1px solid $ghost-grey;
            border-radius: 1rem;
            background-color: darken($white, 5%);
            overflow: scroll;

            p {
                white-space: pre;
                font-size: 1.4rem;
            }
        }
    }
}
