@use 'bootstrap/dist/css/bootstrap.min.css';
@use 'src/material-theme' as *;
@use 'src/variables' as *;
@use 'toastr';
@use "sass:color";

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Poppins', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: $black;
    letter-spacing: 0.5px;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/Poppins-Black.ttf');
    font-weight: 900;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.8rem;
    font-weight: 300;
}

h3 {
    font-size: 1.6rem;
    font-weight: 300;
}

h4 {
    font-size: 1.4rem;
    font-weight: 300;
}

div, p, a, select, label {
    font-size: 1.2rem;
    font-weight: 300;
}

label {
    margin-bottom: 0;
}

button, input, textarea {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    border: none;
    resize: none;

    &:focus, &:active {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
    }

    &.btn {
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 1.5px;
    }
}

.footer-margin {
    margin-bottom: 4rem;
}

ngb-typeahead-window.dropdown-menu button {
    max-width: 30vw;
    font-size: 1.2rem;
    overflow-y: hidden;

    button.dropdown-item {
        font-weight: 300;
    }
}

.mat-tooltip {
    font-size: 1.2rem;
    font-weight: 400;
    color: $white !important;
    max-width: 30rem !important;
}

$spring-rain: #A6D0A6;
$london-hue: #CBA6D0;
$careys-pink: #D0A6BD;
$clam-shell: #D0ABA6;
$vanilla: #D0C2A6;
$green-mist: #CAD0A6;
$perano: #9DC7F0;
$tonys-pink: #E98689;
$morning-glory: #A0E3DF;
$dull-lavender: #A0A5E3;


span.slot {
    border-radius: 5px;
    padding: 2px;
}

.spring-rain {
    background-color: color.adjust($spring-rain, $lightness: 10%) !important;

    &.highlight {
        background-color: $spring-rain !important;
    }
}

.london-hue {
    background-color: color.adjust($london-hue, $lightness: 10%) !important;

    &.highlight {
        background-color: $london-hue !important;
    }
}

.careys-pink {
    background-color: color.adjust($careys-pink, $lightness: 10%) !important;

    &.highlight {
        background-color: $careys-pink !important;
    }
}

.clam-shell {
    background-color: color.adjust($clam-shell, $lightness: 10%) !important;

    &.highlight {
        background-color: $clam-shell !important;
    }
}

.vanilla {
    background-color: color.adjust($vanilla, $lightness: 10%) !important;

    &.highlight {
        background-color: $vanilla !important;
    }
}

.green-mist {
    background-color: color.adjust($green-mist, $lightness: 10%) !important;

    &.highlight {
        background-color: $green-mist !important;
    }
}

.perano {
    background-color: color.adjust($perano, $lightness: 10%) !important;


    &.highlight {
        background-color: $perano !important;
    }
}

.tonys-pink {
    background-color: color.adjust($tonys-pink, $lightness: 10%) !important;

    &.highlight {
        background-color: $tonys-pink !important;
    }
}

.morning-glory {
    background-color: color.adjust($morning-glory, $lightness: 10%) !important;

    &.highlight {
        background-color: $morning-glory !important;
    }
}

.dull-lavender {
    background-color: color.adjust($dull-lavender, $lightness: 10%) !important;

    &.highlight {
        background-color: $dull-lavender !important;
    }
}

